sys-src/era.foss.model.core/model/rif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:RIF="http://automotive-his.de/schema/rif" targetNamespace="http://automotive-his.de/schema/rif" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!-- Generated with AUTOSAR MDS (model driven schema) on Mon Jul 04 11:36:18 CEST 2005 -->
	<!-- Element generated from meta class: ExchangeFile::AccessPolicy -->
	<xsd:element name="ACCESS-POLICY">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="ACCESS-MODE" type="RIF:ACCESS-POLICY-ACCESS-MODE-ENUM" minOccurs="0"/>
				<xsd:element name="ATTRIBUTE-DEFINITIONS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="ATTRIBUTE-DEFINITION-COMPLEX-REF" type="RIF:REF"/>
							<xsd:element name="ATTRIBUTE-DEFINITION-ENUMERATION-REF" type="RIF:REF"/>
							<xsd:element name="ATTRIBUTE-DEFINITION-SIMPLE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ATTRIBUTE-VALUES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="ATTRIBUTE-VALUE-EMBEDDED-DOCUMENT-REF" type="RIF:REF"/>
							<xsd:element name="ATTRIBUTE-VALUE-EMBEDDED-FILE-REF" type="RIF:REF"/>
							<xsd:element name="ATTRIBUTE-VALUE-ENUMERATION-REF" type="RIF:REF"/>
							<xsd:element name="ATTRIBUTE-VALUE-FILE-REFERENCE-REF" type="RIF:REF"/>
							<xsd:element name="ATTRIBUTE-VALUE-SIMPLE-REF" type="RIF:REF"/>
							<xsd:element name="ATTRIBUTE-VALUE-XML-DATA-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DATATYPE-DEFINITIONS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="DATATYPE-DEFINITION-BINARY-FILE-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-BOOLEAN-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-DOCUMENT-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-ENUMERATION-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-INTEGER-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-REAL-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-STRING-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-XML-DATA-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="RELATION-GROUPS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="RELATION-GROUP-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-GROUPS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SPEC-GROUP-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-HIERARCHIES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SPEC-HIERARCHY-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-HIERARCHY-ROOTS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SPEC-HIERARCHY-ROOT-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-OBJECTS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SPEC-OBJECT-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-RELATIONS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SPEC-RELATION-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-TYPES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SPEC-TYPE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="ACCESS-POLICY-ACCESS-MODE-ENUM">
		<xsd:restriction base="RIF:STRING">
			<xsd:enumeration value="EDIT"/>
			<xsd:enumeration value="DELETE"/>
			<xsd:enumeration value="CREATE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Element generated from meta class: ExchangeFile::AttributeDefinitionComplex -->
	<xsd:element name="ATTRIBUTE-DEFINITION-COMPLEX">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DEFAULT-VALUE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-XML-DATA"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DEFAULT-VALUE2" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-FILE"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DEFAULT-VALUE3" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-DOCUMENT"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DEFAULT-VALUE4" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-FILE-REFERENCE"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="TYPE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="DATATYPE-DEFINITION-BINARY-FILE-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-DOCUMENT-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-XML-DATA-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::AttributeDefinitionEnumeration -->
	<xsd:element name="ATTRIBUTE-DEFINITION-ENUMERATION">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DEFAULT-VALUE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-ENUMERATION"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="MULTI-VALUED" type="RIF:BOOLEAN" minOccurs="0"/>
				<xsd:element name="TYPE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="DATATYPE-DEFINITION-ENUMERATION-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::AttributeDefinitionSimple -->
	<xsd:element name="ATTRIBUTE-DEFINITION-SIMPLE">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DEFAULT-VALUE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-SIMPLE"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="TYPE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="DATATYPE-DEFINITION-BOOLEAN-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-INTEGER-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-REAL-REF" type="RIF:REF"/>
							<xsd:element name="DATATYPE-DEFINITION-STRING-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::AttributeValueEmbeddedDocument -->
	<xsd:element name="ATTRIBUTE-VALUE-EMBEDDED-DOCUMENT">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DEFINITION" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="ATTRIBUTE-DEFINITION-COMPLEX-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="XHTML-CONTENT" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:any namespace="http://automotive-his.de/schema/rif-xhtml" processContents="strict"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::AttributeValueEmbeddedFile -->
	<xsd:element name="ATTRIBUTE-VALUE-EMBEDDED-FILE">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="BINARY-CONTENT" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element ref="RIF:BINARY-CONTENT"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DEFINITION" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="ATTRIBUTE-DEFINITION-COMPLEX-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::AttributeValueEnumeration -->
	<xsd:element name="ATTRIBUTE-VALUE-ENUMERATION">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DEFINITION" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="ATTRIBUTE-DEFINITION-ENUMERATION-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="VALUES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="ENUM-VALUE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::AttributeValueFileReference -->
	<xsd:element name="ATTRIBUTE-VALUE-FILE-REFERENCE">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DEFINITION" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="ATTRIBUTE-DEFINITION-COMPLEX-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="PATH-TO-FILE" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::AttributeValueSimple -->
	<xsd:element name="ATTRIBUTE-VALUE-SIMPLE">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DEFINITION" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="ATTRIBUTE-DEFINITION-SIMPLE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="THE-VALUE" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::AttributeValueXmlData -->
	<xsd:element name="ATTRIBUTE-VALUE-XML-DATA">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DEFINITION" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="ATTRIBUTE-DEFINITION-COMPLEX-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="XML-CONTENT" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element ref="RIF:XML-CONTENT"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::BinaryContent -->
	<xsd:element name="BINARY-CONTENT">
		<xsd:complexType/>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::DatatypeDefinitionBinaryFile -->
	<xsd:element name="DATATYPE-DEFINITION-BINARY-FILE">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="APPLICATION" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="EMBEDDED" type="RIF:BOOLEAN" minOccurs="0"/>
				<xsd:element name="FILENAME-SUFFIX" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="FORMAT-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="MIME-TYPE" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::DatatypeDefinitionBoolean -->
	<xsd:element name="DATATYPE-DEFINITION-BOOLEAN">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::DatatypeDefinitionDocument -->
	<xsd:element name="DATATYPE-DEFINITION-DOCUMENT">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="EMBEDDED" type="RIF:BOOLEAN" minOccurs="0"/>
				<xsd:element name="FORMAT" type="RIF:DATATYPE-DEFINITION-DOCUMENT-FORMAT-ENUM" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="DATATYPE-DEFINITION-DOCUMENT-FORMAT-ENUM">
		<xsd:restriction base="RIF:STRING">
			<xsd:enumeration value="XHTML"/>
			<xsd:enumeration value="RTF"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Element generated from meta class: ExchangeFile::DatatypeDefinitionEnumeration -->
	<xsd:element name="DATATYPE-DEFINITION-ENUMERATION">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="SPECIFIED-VALUES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:ENUM-VALUE"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::DatatypeDefinitionInteger -->
	<xsd:element name="DATATYPE-DEFINITION-INTEGER">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="MAX" type="RIF:INTEGER" minOccurs="0"/>
				<xsd:element name="MIN" type="RIF:INTEGER" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::DatatypeDefinitionReal -->
	<xsd:element name="DATATYPE-DEFINITION-REAL">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="ACCURACY" type="RIF:INTEGER" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="MAX" type="RIF:FLOAT" minOccurs="0"/>
				<xsd:element name="MIN" type="RIF:FLOAT" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::DatatypeDefinitionString -->
	<xsd:element name="DATATYPE-DEFINITION-STRING">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="MAX-LENGTH" type="RIF:INTEGER" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::DatatypeDefinitionXmlData -->
	<xsd:element name="DATATYPE-DEFINITION-XML-DATA">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="EMBEDDED" type="RIF:BOOLEAN" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="NAME-SPACE-URI" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="SCHEMA-LOCATION" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::EmbeddedValue -->
	<xsd:element name="EMBEDDED-VALUE">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="KEY" type="RIF:INTEGER" minOccurs="0"/>
				<xsd:element name="OTHER-CONTENT" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::EnumValue -->
	<xsd:element name="ENUM-VALUE">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="PROPERTIES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element ref="RIF:EMBEDDED-VALUE"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::RelationGroup -->
	<xsd:element name="RELATION-GROUP">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="RELATION-TYPE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-TYPE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-RELATIONS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SPEC-RELATION-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TARGET-GROUP" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-GROUP-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::RIF -->
	<xsd:element name="RIF">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="SPEC-HIERARCHY-ROOTS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:SPEC-HIERARCHY-ROOT"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ACCESS-POLICIES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:ACCESS-POLICY"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="AUTHOR" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="COMMENT" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="COUNTRY-CODE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="CREATION-TIME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DATATYPES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:DATATYPE-DEFINITION-BINARY-FILE"/>
							<xsd:element ref="RIF:DATATYPE-DEFINITION-BOOLEAN"/>
							<xsd:element ref="RIF:DATATYPE-DEFINITION-DOCUMENT"/>
							<xsd:element ref="RIF:DATATYPE-DEFINITION-ENUMERATION"/>
							<xsd:element ref="RIF:DATATYPE-DEFINITION-INTEGER"/>
							<xsd:element ref="RIF:DATATYPE-DEFINITION-REAL"/>
							<xsd:element ref="RIF:DATATYPE-DEFINITION-STRING"/>
							<xsd:element ref="RIF:DATATYPE-DEFINITION-XML-DATA"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="SOURCE-TOOL-ID" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="SPEC-GROUPS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:SPEC-GROUP"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-OBJECTS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:SPEC-OBJECT"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-RELATIONS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:SPEC-RELATION"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-TYPES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:SPEC-TYPE"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TITLE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="VERSION" type="RIF:STRING" minOccurs="0"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::SpecGroup -->
	<xsd:element name="SPEC-GROUP">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="RELATION-GROUPS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:RELATION-GROUP"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="SPEC-OBJECTS" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element name="SPEC-OBJECT-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TYPE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-TYPE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="VALUES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-DOCUMENT"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-FILE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-ENUMERATION"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-FILE-REFERENCE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-SIMPLE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-XML-DATA"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::SpecHierarchy -->
	<xsd:element name="SPEC-HIERARCHY">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="CHILDREN" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:SPEC-HIERARCHY"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="OBJECT" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-OBJECT-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::SpecHierarchyRoot -->
	<xsd:element name="SPEC-HIERARCHY-ROOT">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="CHILDREN" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:SPEC-HIERARCHY"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="TYPE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-TYPE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="VALUES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-DOCUMENT"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-FILE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-ENUMERATION"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-FILE-REFERENCE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-SIMPLE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-XML-DATA"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::SpecObject -->
	<xsd:element name="SPEC-OBJECT">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="TYPE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-TYPE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="VALUES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-DOCUMENT"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-FILE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-ENUMERATION"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-FILE-REFERENCE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-SIMPLE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-XML-DATA"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::SpecRelation -->
	<xsd:element name="SPEC-RELATION">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="SOURCE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-OBJECT-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="TARGET" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-OBJECT-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="TYPE" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0">
							<xsd:element name="SPEC-TYPE-REF" type="RIF:REF"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="VALUES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-DOCUMENT"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-EMBEDDED-FILE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-ENUMERATION"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-FILE-REFERENCE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-SIMPLE"/>
							<xsd:element ref="RIF:ATTRIBUTE-VALUE-XML-DATA"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::SpecType -->
	<xsd:element name="SPEC-TYPE">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="LONG-NAME" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="DESC" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="IDENTIFIER" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="LAST-CHANGE" type="RIF:STRING" minOccurs="0"/>
				<xsd:element name="SPEC-ATTRIBUTES" minOccurs="0">
					<xsd:complexType>
						<xsd:choice minOccurs="0" maxOccurs="unbounded">
							<xsd:element ref="RIF:ATTRIBUTE-DEFINITION-COMPLEX"/>
							<xsd:element ref="RIF:ATTRIBUTE-DEFINITION-ENUMERATION"/>
							<xsd:element ref="RIF:ATTRIBUTE-DEFINITION-SIMPLE"/>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
			<xsd:attribute ref="RIF:ID"/>
		</xsd:complexType>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::XhtmlContent -->
	<xsd:element name="XHTML-CONTENT">
		<xsd:complexType/>
	</xsd:element>
	<!-- Element generated from meta class: ExchangeFile::XmlContent -->
	<xsd:element name="XML-CONTENT">
		<xsd:complexType/>
	</xsd:element>
	<!-- Predefined element and attribute types -->
	<xsd:simpleType name="STRING">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="FLOAT">
		<xsd:restriction base="xsd:float"/>
	</xsd:simpleType>
	<xsd:simpleType name="INTEGER">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="BOOLEAN">
		<xsd:restriction base="RIF:STRING">
			<xsd:enumeration value="TRUE"/>
			<xsd:enumeration value="FALSE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="REF">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:attribute name="ID" type="xsd:string"/>
</xsd:schema>
